html{
    background-color: #fefefa;
}
/* grid layout */
body {
    display: grid;
    width: 100%;
    margin: auto;
}

hr{
    color: rgb(85, 85, 85);
    margin-bottom: 5%;
}
header{
    background-color: #5D3FD3;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 2%; 
    align-items: center;
    justify-content: space-between;
}
nav{
    background-color: #702963;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
/* header size changes */

header h1{
    font-size: 20px;
    margin-left: 5px;
    color: ivory;
    padding-right: 5px;
}
header div{
    flex-basis: auto;
    height: 30px;
    fill: ivory;
}
header hr{
    height: 40px; 
    color: grey;
    border: 1px solid grey;
    margin: 0%;
}
header img{
    height: 35px;
    width: 35px;
    color: ivory;
    border-radius: 50%;
    object-fit: cover;
    border: none;
}
header h3{
    font-size: 15px;
    height: 30px;
    color: ivory;
    padding-top: 15px;
    margin: 0% 0% 0% 0%;
    margin-right: 5px;
}
/* notification bell */
.notification {
    position: relative;
}

#bell{
width: 25px;
}

#green-dot {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: -25%; right: 0; bottom: 0; left: 75%;
}
/* Nav size changes */

nav #home{
    flex-basis: auto;
    height: 35px;
    margin-right: 10px;
    fill: ivory;
}
nav #bar-chart{
    flex-basis: auto;
    height: 35px;
    margin-right: 10px;
    fill: ivory;
}
nav #members{
    flex-basis: auto;
    height: 35px;
    margin-right: 10px;
    fill: ivory;
}
nav #settings{
    flex-basis: auto;
    height: 35px;
    fill: ivory;
}
/* main main-header*/
main div.main-header{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.headline{
    font-size:larger;
    margin-left: 4%;
    margin-right: 4%;
}
.main-header-search input{
    height: 60px;
    width: 202px;
    background-color: #f3f2ef;
    border: 1px solid rgb(117, 117, 117);
    border-top: none;
    border-right: none;
}
/* Alert */
#alert{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #5D3FD3;
    width: 90%;
    color: ivory;
    padding: 10px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;

}
#alert button{
    background-color: #5D3FD3;
    border-style: none;
    color: ivory;
    font-size: x-large;
}

/* Traffic */

ul.traffic-nav{
    padding-left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    text-align: center;
}
li.traffic-nav-link{
    width: 20%;
    list-style: none;
    height: 20px;
}
li.traffic-nav-link:hover{
    border-radius: 5%;
    color: ivory;
    background-color: yellowgreen;
}

/* Social stats */

div.social-container{
    background-color: #f3f2ef;
    border: 1px solid rgb(117, 117, 117);
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5%;
}
div.social-text{
    width: 40%;
    flex-direction: column;
}
p.social-media-type{
    color: #5D3FD3;
    font-size: large;
    font-weight:600;
    margin-bottom: 2%;
}
p.user-number{
    font-size:40px;
    margin-top: 2%;
    color: rgb(85, 85, 85);
}
svg#facebook{
    fill: #5D3FD3;
    height: 70px;
    width: 70px;
}
svg#instagram{
    fill: #5D3FD3;
    height: 70px;
    width: 70px;
}
svg#twitter{
    fill: #5D3FD3;
    height: 70px;
    width: 70px;
}
/*  Members */
section.members{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.members-container{
    height: 80%;
    width: 80%;
    text-align: center;
}
div.members-container{
    margin: auto;
}
div.members-container a{
    color: #5D3FD3;
    text-decoration: none;
}
section.members hr {
    width: 95%;
    margin: auto;
    color: rgb(85, 85, 85);
    margin-bottom: 5%;
}
img.profile-image{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}


/*  Message User */
form.widget-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
input#userField.form-field{
    border-radius: 10px;
    width: 90%;
    background-color: #f3f2ef;
    border: 1px solid rgb(117, 117, 117);
    height: 30px;
    margin-bottom: 3%;
}
textarea#messageField.form-area{
    border-radius: 10px;
    width: 90%;
    background-color: #f3f2ef;
    border: 1px solid rgb(117, 117, 117);
    height: 90px;
    margin-bottom: 3%;
}
input::placeholder{
    font-size:small;
    font-weight:400;
}
textarea::placeholder{
    font-size: medium;
    font-weight:400;
}
form.widget-container button{
    width: 90%;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #5D3FD3;
    color: ivory;
    font-size: medium;
    font-weight: 400;
}
/*  Settings */

section.settings{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
select#timezone{
    border-radius: 10px;
    width: 90%;
    background-color: #f3f2ef;
    border: 1px solid rgb(117, 117, 117);
    height: 30px;
    margin-bottom: 3%;
}
div.settings-button{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button#save{
    padding: 10px 10px;
    width: 40%;
    background-color: #5D3FD3;
    border-radius: 10px;
    color: ivory;
}
button#cancel{
    padding: 10px 10px;
    width: 40%;
    background-color: rgb(85, 85, 85);
    border-radius: 10px;
    color: ivory;
}
/*  make sliding setting buttons */

label.switch-light, label.switch-candy{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
    margin-bottom: 3%;
}
label.switch-light a, label.switch-candy a{
    border-radius: 20px;
    width: 50%;
}
strong{
    width: 50%;
    font-size: small;
}
label.switch-light span, label.switch-candy span{
    width: 25%
}
/*  bell animation */

 #bell:hover{
    transform: scale(1.4);
  }

/*  size changes */
@media (min-width: 768px) {
    header {
        grid-area: hd;
    }

    nav {
        grid-area: sb;
    }

    main {
        grid-area: mn;
    } 
    body {
        grid-template-columns: 50px auto;
        grid-template-rows: 50px auto;
        grid-template-areas: 
            'hd hd'
            'sb mn';
    }
}
